# Project exclude paths
/node_modules/
.env
.idea/.gitignore
.idea/e-commerce-api.iml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/vcs.xml
e-commerce-quasar/.editorconfig
e-commerce-quasar/.eslintignore
e-commerce-quasar/.eslintrc.js
e-commerce-quasar/.gitignore
e-commerce-quasar/.postcssrc.js
e-commerce-quasar/.vscode/extensions.json
e-commerce-quasar/.vscode/settings.json
e-commerce-quasar/README.md
e-commerce-quasar/babel.config.js
e-commerce-quasar/jsconfig.json
e-commerce-quasar/package-lock.json
e-commerce-quasar/package.json
e-commerce-quasar/public/favicon.ico
e-commerce-quasar/public/icons/favicon-128x128.png
e-commerce-quasar/public/icons/favicon-16x16.png
e-commerce-quasar/public/icons/favicon-32x32.png
e-commerce-quasar/public/icons/favicon-96x96.png
e-commerce-quasar/src/assets/quasar-logo-vertical.svg
e-commerce-quasar/src/boot/.gitkeep
e-commerce-quasar/src/components/EssentialLink.vue
config/db.config.js

